@media screen and (max-width: 1024px) {
  .col-lg-8 {
    flex: 0 0 58%;
    max-width: 58%;
  }

  .col-lg-4:not(.col-lg-8 .col-lg-4) {
    flex: 0 0 42%;
    max-width: 42%;
  }

  .col-lg-8 .row .col-lg-4 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .container-calculator {
    margin-top: 0.3rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
    box-sizing: border-box;
  }

  .calculator.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    box-sizing: border-box;
  }

  .container {
    margin-top: 2.6rem !important;
  }

  .table {
    width: 100% !important;
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }

  .cart-title,
  td,
  span,
  .btn-print {
    font-size: 0.75rem !important;
  }

  .total-amount {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .print-container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .btn-danger {
    font-size: 0.6rem !important;
    padding: 0.25rem 0.4rem !important;
  }
}

@media screen and (max-width: 991px) {
  .container-calculator {
    margin-left: 0 !important;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .container-calculator {
    margin-left: 1.7rem !important;
    margin-right: 2rem !important;
  }

  td {
    width: 90vw !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand.adjusted {
    margin-left: 0 !important;
    padding-left: 1rem !important;
  }

  .col-lg-8 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-lg-4:not(.col-lg-8 .col-lg-4) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-lg-8 .row .col-lg-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .table thead tr td:first-child,
  .table tbody tr td:first-child {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand.adjusted {
    display: block !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .col-lg-8 {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
  }

  .col-lg-4:not(.col-lg-8 .col-lg-4) {
    flex: 0 0 60% !important;
    max-width: 60% !important;
  }

  .container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .navbar .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .total-amount {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .print-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pos-item h5 {
    font-size: 15px !important;
  }

  .pos-item p {
    font-size: 14px !important;
  }

  .btn-print {
    text-transform: uppercase !important;
  }

  .btn-danger {
    text-transform: uppercase !important;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    max-width: 100vw;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col-lg-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    order: 1;
  }

  .col-lg-4:not(.col-lg-8 .col-lg-4) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    order: 2;
  }

  .col-lg-8 .row .col-lg-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .container,
  .container-calculator,
  .table,
  .pos-item {
    max-width: 100vw;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }

  .navbar-brand.adjusted {
    margin-left: 0 !important;
    padding-left: 2.3rem !important;
  }

  .pos-item {
    width: 98% !important;
  }

  .pos-item h5 {
    text-transform: capitalize !important;
  }

  .loading-text {
    position: absolute !important;
    top: 25% !important;
    left: -45% !important;
  }

  .table {
    position: relative !important;
    width: 100% !important;
  }

  .cart-title {
    text-transform: uppercase !important;
    font-size: 0.8rem !important;
  }

  .container-calculator {
    margin-top: 1rem !important;
    margin-left: 0.5rem !important;
    margin-right: 1.5rem !important;
  }

  .Toastify__toast-body {
    margin-left: 27px !important;
    font-size: 0.75rem !important;
  }

  .Toastify__close-button > svg {
    margin-right: 10px;
  }

  .total-amount {
    padding-left: 0 !important;
    font-size: 0.9rem !important;
  }

  .btn-danger {
    margin-top: 0rem !important;
    font-size: 0.6rem !important;
    text-transform: uppercase !important;
    width: 100% !important;
  }

  .print-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .btn-print {
    width: 100% !important;
    font-size: 1.3rem;
    text-transform: uppercase !important;
  }

  span {
    font-size: 1rem !important;
  }

  .table tbody tr td {
    vertical-align: middle !important;
  }

  .table thead tr td:nth-child(3),
  .table tbody tr td:nth-child(3) {
    display: none !important;
  }
}

* {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.navbar-brand.adjusted {
  margin-left: -4.9rem;
}

.container {
  margin-top: 3rem;
}

.container-calculator {
  margin-left: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 1.3rem;
  padding-bottom: 0.5rem;
}

.loading-text {
  margin-left: 20rem;
  margin-top: 15rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

.btn-print {
  width: 100%;
  border: none !important;
  cursor: pointer;
  padding: 0.5rem 0rem;
  background-color: white;
  color: #232222;
  margin-bottom: 3px;
}

.btn-print:hover {
  border: none !important;
  background-color: #000000;
  color: white;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

td {
  text-align: center;
}

span {
  color: #b7b7b7;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}

span,
td,
h6,
.btn-print {
  font-family: "Sohne", Helvetica, sans-serif;
}

span,
td,
h6,
.btn-print {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.98rem;
  font-family: "Sohne", Helvetica, sans-serif;
  color: white;
  padding-bottom: 0.3rem;
}

.total-amount {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-print-container {
  margin-bottom: 0.65rem;
}

.btn-print {
  font-weight: 500;
  width: 100%;
}

.btn-danger {
  margin-top: -0.1rem;
  font-size: 0.7rem;
  background-color: maroon;
}

.btn-danger:hover {
  color: maroon;
  background-color: #f8f9fa;
}

.cart-title {
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.calculater.container {
  max-height: 50vh;
}

.receipt-heading {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  text-align: center;
  padding: 20px;
}

.receipt-spacer td {
  height: 30px;
  padding: 0;
  line-height: 30px;
}

.Toastify__toast-body {
  font-size: 0.85rem !important;
}

.toast-product-name {
  color: #000 !important;
  text-transform: lowercase;
}

/* Mobile Receipt Modal Styles */
.receipt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 1rem;
}

.receipt-modal {
  background-color: white;
  border-radius: 10px;
  max-width: 600px;
  width: 85%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.receipt-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: black;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  line-height: 1;
  padding: 0;
}

.receipt-close-btn:hover {
  background: transparent;
  color: #666;
}

.receipt-actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border-top: 1px solid #e0e0e0;
}

.btn-mobile-print {
  background-color: #232222;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Sohne", Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-mobile-print:hover {
  background-color: white;
  color: #232222;
  border: 1px solid #232222;
}

/* Hide modal elements when printing */
@media print {
  .receipt-modal-overlay {
    background: none;
    position: static;
  }

  .receipt-modal {
    box-shadow: none;
    max-height: none;
    overflow: visible;
  }

  .receipt-close-btn,
  .receipt-actions {
    display: none !important;
  }
}
