@media screen and (max-width: 414px) {
  .row {
    margin-top: 1.5rem !important;
  }

  span {
    text-transform: uppercase;
  }

  .print-container {
    margin-left: 0rem !important;
  }

  .btn-print {
    width: 100% !important;
    font-size: 1.3rem;
  }
}

* {
  font-weight: 500;
}

.container {
  margin-top: 3.3rem;
  margin-left: 2rem;
}

.btn-print {
  width: 100%;
  border: none !important;
  cursor: pointer;
  padding: 0.5rem 0rem;
  background-color: white;
  color: #232222;
}

.btn-print:hover {
  border: none !important;
  background-color: #232222;
  color: white;
  box-shadow: 3px 7px 7px rgba(100, 100, 100, 0.1);
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.print-container {
  /* margin-left: 2.8rem; */
}

span {
  color: white;
}

p {
  font-weight: 700;
}

span,
td,
h6,
.btn-print {
  font-family: "Sohne", Helvetica, sans-serif;
}

span,
td,
h6,
.btn-print {
  font-size: 0.9rem;
}

.btn-print {
  font-weight: 600;
}

.cart-title {
  font-weight: 600;
}
