@media screen and (max-width: 1024px) {
  .col-lg-8 {
    flex: 0 0 58%;
    max-width: 58%;
  }

  .col-lg-4:not(.col-lg-8 .col-lg-4) {
    flex: 0 0 42%;
    max-width: 42%;
  }

  .col-lg-8 .row .col-lg-4 {
    flex: 0 0 45%;
    max-width: 45%;
  }

  .container-calculator {
    margin-top: 0.3rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
    padding-left: 1.3rem !important;
    padding-right: 1.3rem !important;
    box-sizing: border-box;
  }

  .calculator.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    box-sizing: border-box;
  }

  .container {
    margin-top: 2.6rem !important;
  }

  .table {
    width: 100% !important;
    max-width: 100%;
    overflow-x: auto;
    display: block;
  }

  .cart-title,
  td,
  span,
  .btn-print {
    font-size: 0.75rem !important;
  }

  .total-amount {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .print-container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .btn-danger {
    font-size: 0.6rem !important;
    padding: 0.25rem 0.4rem !important;
  }
}

@media screen and (max-width: 991px) {
  .container-calculator {
    margin-left: 0 !important;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .container-calculator {
    margin-left: 1.7rem !important;
    margin-right: 2rem !important;
  }

  td {
    width: 90vw !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand.adjusted {
    margin-left: 0 !important;
    padding-left: 1rem !important;
  }

  .col-lg-8 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-lg-4:not(.col-lg-8 .col-lg-4) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .col-lg-8 .row .col-lg-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .table thead tr td:first-child,
  .table tbody tr td:first-child {
    display: none !important;
  }
}

@media screen and (max-width: 414px) {
  html,
  body {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    max-width: 100vw;
  }

  .container,
  .container-calculator,
  .table,
  .pos-item {
    max-width: 100vw;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }

  .navbar-brand.adjusted {
    margin-left: 0 !important;
    padding-left: 1.7rem !important;
  }

  .pos-item {
    width: 98% !important;
  }

  .loading-text {
    position: absolute !important;
    top: 25% !important;
    left: -45% !important;
  }

  .table {
    /*margin-top: -1.25rem !important;*/
    position: relative !important;
    width: 98% !important;
  }

  .cart-title {
    text-transform: uppercase !important;
    font-size: 0.8rem !important;
  }

  .container-calculator {
    margin-top: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 1.5rem !important;
  }

  .Toastify__toast-body {
    margin-left: 27px !important;
    font-size: 0.75rem !important;
  }

  .Toastify__close-button > svg {
    margin-right: 10px;
  }

  .total-amount {
    padding-left: 1.1rem !important;
    font-size: 1rem !important;
  }

  .btn-danger {
    margin-top: 0rem !important;
    font-size: 0.6rem !important;
    text-transform: uppercase !important;
  }

  .print-container {
    padding: 1rem !important;
    margin-left: 0rem !important;
  }

  .btn-print {
    width: 100% !important;
    font-size: 1.3rem;
    text-transform: uppercase !important;
  }

  span {
    font-size: 1rem !important;
  }
}

* {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.navbar-brand.adjusted {
  margin-left: -4.9rem;
}

.container {
  margin-top: 3rem;
}

.container-calculator {
  margin-left: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 1.3rem;
  padding-bottom: 0.5rem;
}

.loading-text {
  margin-left: 20rem;
  margin-top: 15rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

.btn-print {
  width: 100%;
  border: none !important;
  cursor: pointer;
  padding: 0.5rem 0rem;
  background-color: white;
  color: #232222;
  margin-bottom: 3px;
}

.btn-print:hover {
  border: none !important;
  background-color: #000000;
  color: white;
  /* box-shadow: 3px 7px 7px rgba(100, 100, 100, 0.1); */
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

td {
  text-align: center;
}

span {
  color: #b7b7b7;
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}

span,
td,
h6,
.btn-print {
  font-family: "Sohne", Helvetica, sans-serif;
}

span,
td,
h6,
.btn-print {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.98rem;
  font-family: "Sohne", Helvetica, sans-serif;
  color: white;
  padding-bottom: 0.3rem;
}

.total-amount {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-print-container {
  margin-bottom: 0.65rem;
}

.btn-print {
  font-weight: 500;
  width: 100%;
}

.btn-danger {
  margin-top: -0.1rem;
  font-size: 0.7rem;
  background-color: maroon;
}

.btn-danger:hover {
  color: maroon;
  background-color: #f8f9fa;
}

.cart-title {
  /*font-family: "Helvetica", sans-serif;*/
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.calculater.container {
  max-height: 50vh;
}

.receipt-heading {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  text-align: center;
  padding: 20px;
}

.receipt-spacer td {
  height: 30px;
  padding: 0;
  line-height: 30px;
}

.Toastify__toast-body {
  font-size: 0.85rem !important;
}

.toast-product-name {
  color: #000 !important;
  text-transform: lowercase;
}
