@media screen and (max-width: 480px) {
  .navbar-brand {
    margin-top: 1rem !important;
    font-size: 1rem !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
}

.navbar {
  background-color: black;
}

.navbar-brand {
  margin-bottom: 1rem;
  padding-left: 6.1rem;
  font-size: 1rem;
  color: #f7f7f7;
}

.navbar-brand:hover {
  color: grey;
}

.pos-item {
  cursor: pointer;
}

.pos-item:hover {
  /* box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1); */
  transform: translate(0, -5%);
  transition: 0.3s ease all;
  -webkit-transform: translate(0, -5%);
  -moz-transform: translate(0, -5%);
  -ms-transform: translate(0, -5%);
  -o-transform: translate(0, -5%);
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

@font-face {
  font-family: "Sohne";
  src: url("./fonts/Sohne-Buch.otf") format("OpenType");
}

@font-face {
  font-family: "Sohne Bold";
  src: url("./fonts/Sohne-Halbfett.otf") format("opentype");
}

@font-face {
  font-family: "Sohne Fat";
  src: url("./fonts/Sohne-Fat.otf") format("opentype");
}

@font-face {
  font-family: "Aspira";
  src: url("./fonts/Aspira-Medium.otf") format("opentype");
}

.font-face-s {
  font-family: "Sohne";
}
